* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}
body {
  background-color: #fafafa !important;
}

input {
  text-align: right;
  padding-right: 13px;
  width: 60%;
}
.row:hover {
  background-color: #d0d3d4;
}
.calcular:hover {
  background-color: #fafafa;
}
.btn {
  margin: 5px;
  cursor: pointer;
}
.valor {
  margin-right: -15px !important;
}
.encabezado-principal {
  background-color: #17a2b8;
  color: #fafafa;
}
.encabezado {
  background-color: #444444;
  color: #fafafa;
}
.valor-container,
.data-container {
  display: flex;
  justify-content: flex-end;
}

/* -------------- Elimina arrows del imput number -------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Small devices (portrait tablets and large phones, 600px) */
@media only screen and (max-width: 600px) {
  .col-md-6,
  .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
