* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}
body {
  background-color: #fafafa !important;
}
.row:hover {
  background-color: #d0d3d4;
}
.encabezado-principal {
  background-color: #5583a9;
  color: #fafafa;
}
.encabezado {
  background-color: #444444;
  color: #fafafa;
}
.valor-container,
.data-container {
  display: flex;
  justify-content: flex-end;
}

/* -------------- Elimina arrows del imput number -------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
